body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f7fa;
    color: #222;
    text-align: center;
}

/* HEADER */
header {
    background: #2e66b1;
    color: white;
    padding: 20px 10px;
}

.mode-banner {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.mode-btn {
    padding: 10px 20px;
    border: none;
    background: #fff;
    color: #2e66b1;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.2s;
}

.mode-btn:hover {
    background: #ddebff;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* QUIZ */
#quiz-section {
    margin-top: 30px;
}

.question-box {
    font-size: 26px;
    font-weight: bold;
    margin: 20px;
    padding: 15px;
}

.answers-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.answer-btn {
    width: 80%;
    max-width: 350px;
    padding: 12px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background: white;
    box-shadow: 0 2px 4px #0002;
    cursor: pointer;
}

.answer-btn:hover {
    background: #e8f0ff;
}

#timer-box {
    margin-top: 20px;
    font-size: 18px;
}

#score-current {
    margin-top: 10px;
    font-size: 20px;
}

/* RESULT */
#result-section {
    margin-top: 40px;
    font-size: 22px;
}

.hidden {
    display: none;
}
